/* Style the body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 100% 1000%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Style the header */
.App-header {
  padding-top: 20px;
  text-align: center;

}

/* Style the h1 element */
.App-header p {
  font-size: xx-large;
  color: #fff;
  margin-bottom: 80px;
}

/* Style the play button */
.Play-btn {
  color: black;
  transition: all 0.5s;
  position: relative;
  font-size: 1.5em;
  background: none;
  border: none;
}

.Play-btn:hover {
  color: #4e97fe;
}

.Play-btn::before {
  content: '';
  position: absolute;
  top: -10px; /* Increase the top offset */
  left: -60px; /* Increase the left offset */
  width: calc(100% + 120px); /* Adjust the width */
  height: calc(100% + 20px); /* Adjust the height */
  z-index: -1;
  transition: all 0.8s;
  border: 1px solid rgba(255,255,255,0.2);
}

.Play-btn::after {
  content: '';
  position: absolute;
  top: -10px; /* Increase the top offset */
  left: -60px; /* Increase the left offset */
  width: calc(100% + 120px); /* Adjust the width */
  height: calc(100% + 20px); /* Adjust the height */
  z-index: -1;
  transition: all 0.8s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.Play-btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgb(255, 255, 255);
}

.Play-btn:hover::after {
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
}

/* Style for each quiz */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  width: 100%;
}

/* Style the top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-top: 10px;
}

.top-button {
  color: white;
  background: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

.top-button:hover {
  transform: scale(1.2);
}

/* cartoon button */
.cartoon-btn {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 12px;
}

.cartoon-btn:focus {
  outline: 0;
}

.cartoon-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.cartoon-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .cartoon-btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

/* h1, h2, h3, h4 styles */
h1 { 
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 47px; font-weight: 800; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase; 
}

h2 { 
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; 
  font-weight: 800; 
  line-height: 36px; 
  margin: 0 0 24px; text-align: center; }


p { 
  color: #f8f8f8; 
  font-family: 'Raleway',sans-serif; 
  font-size: 18px; 
  font-weight: 500; 
  line-height: 32px; 
  margin: 0 0 24px; }


a { 
  color: #c8c8c8; 
  text-decoration: underline; }


a:hover { 
  color: #1c1c1c; 
  text-decoration: underline; 
}

