/* Style the body */
body {
  background-color: #4e97fe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Style the header */
.App-header {
  padding: 20px;
  text-align: center;

}

/* Style the h1 element */
.App-header p {
  font-size: xx-large;
  color: #fff;
  margin-bottom: 80px;
}

/* Style the play button */
.Play-btn {
  color: black;
  transition: all 0.5s;
  position: relative;
  font-size: 1.5em;
  background: none;
  border: none;
}

.Play-btn:hover {
  color: #4e97fe;
}

.Play-btn::before {
  content: '';
  position: absolute;
  top: -10px; /* Increase the top offset */
  left: -60px; /* Increase the left offset */
  width: calc(100% + 120px); /* Adjust the width */
  height: calc(100% + 20px); /* Adjust the height */
  z-index: -1;
  transition: all 0.8s;
  border: 1px solid rgba(255,255,255,0.2);
}

.Play-btn::after {
  content: '';
  position: absolute;
  top: -10px; /* Increase the top offset */
  left: -60px; /* Increase the left offset */
  width: calc(100% + 120px); /* Adjust the width */
  height: calc(100% + 20px); /* Adjust the height */
  z-index: -1;
  transition: all 0.8s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.Play-btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgb(255, 255, 255);
}

.Play-btn:hover::after {
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
}

/* Style for each quiz */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  width: 100%;
}

.each-quiz {
  display: flex;
  flex-direction: column;
}

/* Style the top bar */
.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.top-button {
  color: white;
  margin-left: auto;
  margin-right: 20px;
  background: rgb(207, 139, 12);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

.top-button:hover {
  transform: scale(1.2);
}


